
@font-face { font-family: filmbuzz; src: url('./assets/fonts/MavenPro-VariableFont_wght.ttf'); } 

/* -------------------------------- APPLICATION ---------------------------------- */

.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

/* -------------------------------- COMPONENTS ---------------------------------- */

.search {
  display: flex;
  align-items: center;
  grid-column: 1 / 4;
  padding: 0 50px;
  justify-content: space-between;
}

.movies {
  grid-column: 1 / 3;
}

.favorites {
  grid-column: 3;
}

.movie {
  border: 1px solid black;
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  justify-content: space-between;
}

.modal {
  text-align: center;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.film {
  color: #82df68;
  font-family: filmbuzz;
}

.buzz {
  color: #485569;
  font-family: filmbuzz;
}

.buttons, .search-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

button {
  background-color: #82df68;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.movies-container, .favorites-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.header {
  text-align: center;
}

.favorites .header {
  color: #82df68;
}

.small-poster {
  width: 100px;
  height: auto;
  align-self: center;
}

.large-poster {
  width: 250px;
  height: auto;
}

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.star {
  color: gold;
}

.details {
  border: 1px solid black;
  padding: 0 4px;
  border-radius: 10px;
}

.star, .details {
  cursor: pointer;
}

.error {
  padding: 10px;
}

/* -------------------------------- MOBILE ---------------------------------- */

@media (max-width: 750px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  
  .search, .search-container {
    flex-direction: column;
  }

  .modal {
    grid-template-columns: 100%;
  }
}