
.small-poster {
  width: 100px;
  height: auto;
  align-self: center;
}

.large-poster {
  width: 250px;
  height: auto;
}

.movie {
  border: 1px solid black;
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 10px;
}

.header {
  text-align: center;
}

.star {
  color: gold;
}

.details {
  text-decoration: underline;
}

.star, .details {
  cursor: pointer;
}

.movies {
  grid-column: 1 / 3;
}

.favorites-container {
  grid-column: 3;
}

.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.movies-container, .favorites-container, .search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.search-container {
  align-items: center;
  grid-column: 1 / 4;
  padding: 10px;
}

.modal {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

@media (max-width: 750px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}